{% extends 'index.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}


<div class="container mt-5">
  <section id="about">
    <h2>Welcome to Think Guru</h2>
    <p>Think Guru is your gateway to a world of knowledge and fun! We believe in the power of curiosity and learning, and our platform is designed to stimulate your mind and expand your horizons.</p>
    <p>At Think Guru, we offer a wide range of quizzes covering various topics including science, history, literature, pop culture, and more. Whether you're a trivia enthusiast, a lifelong learner, or just someone looking for a fun way to challenge your brain, there's something for everyone on Think Guru.</p>
    <p>Join our community of like-minded individuals and embark on a journey of discovery. Test your knowledge, compete with friends, and unlock new insights with Think Guru!</p>
  </section>
  
  <!-- <section id="team" class="mt-5">
    <h2>Meet the Team</h2>
    <div class="row">
      <div class="col-lg-3 col-md-4 mb-4">
        <div class="card">
          <img src="{% static 'img\user_png.png' %} "class="card-img-top" alt="Aniket Kardile" width="" height="200px">
          <div class="card-body">
            <h5 class="card-title">Aniket Kardile</h5>
            <p class="card-text">Lead Developer</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</div>
{% endblock %}