{% extends "index.html" %}

{% block content %}
<h1 class="display-4 text-center my-2">All Qiuzzes</h1>

 <div class="d-flex container">
  <a href="" class = "btn btn-light mr-2">All Qiuzzes</a>
  <a href="" class = "btn btn-light mr-2">DSA</a>
  <a href="" class = "btn btn-light mr-2">OOP</a>
</div>

 <form class="container d-flex text-center mt-2 col-md-6 col-lg-8">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <a href="#" class="btn btn-outline-success">Search</a>
</form>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-12 col-md-6 mt-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Newton's Law</h5>
          <h6 class="card-subtitle mb-2 text-muted">Total no of questions - 10</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="quiz.html" class="btn btn-outline-success">Start Quiz</a>
          <span class="ml-5">25 feb,2023</span>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12 col-md-6 mt-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Newton's Law</h5>
          <h6 class="card-subtitle mb-2 text-muted">Total no of questions - 10</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-success">Start Quiz</a>
          <span class="ml-5">25 feb,2023</span>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12 col-md-6 mt-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Newton's Law</h5>
          <h6 class="card-subtitle mb-2 text-muted">Total no of questions - 10</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-success">Start Quiz</a>
          <span class="ml-5">25 feb,2023</span>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12 col-md-6 mt-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Newton's Law</h5>
          <h6 class="card-subtitle mb-2 text-muted">Total no of questions - 10</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-success">Start Quiz</a>
          <span class="ml-5">25 feb,2023</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}