{% extends "index.html" %}
{% block title %}All-quiz{% endblock %}
{% block content %}
<h1 class="display-4 text-center my-2">All Qiuzzes</h1>

 <div class="d-flex container">
  <a href="" class = "btn btn-light mr-2">All Qiuzzes</a>
  {% for category in categories %}
  <a href="{% url 'searchQuiz' category.name %}" class = "btn btn-light mr-2">{{category.name}}</a>
  {% endfor %}
</div>

 <form class="container d-flex text-center mt-2 col-md-6 col-lg-8" method="get" action="{% url 'searchBySearchBar' %}">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
  <input class="btn btn-outline-success" type="submit">
</form>

<div class="container">
  <div class="row">
    {% if quizzes|length > 0 %}
    {% for quiz in quizzes %}
    <div class="col-lg-4 col-sm-12 col-md-6 mt-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{quiz.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Total no of questions - 10</h6>
          <p class="card-text">{{quiz.description|truncatewords:7}}</p>
          <a href="{% url 'quizPage' quiz.id %}" class="btn btn-outline-success">Start Quiz</a>
        </div>
        <div class="mb-2 ml-3">
          {{quiz.created_at|timesince}}
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-sm-12 col-lg-12 col-md-12 my-2">
      <p class="text-center text-danger fs-5">No Quiz Available For This Category</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}