{% extends "index.html" %}
{% block title %}Leaderboard{% endblock %}
{% block content %}

<div class="container text-center">
  <h1 class="display-4 text-center my-5">Leaderboard</h1>

  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mx-3">
    {% for rank in leaderboard_users %}
      <div class="col-lg-4 position-relative mb-4">
        <img src="{{rank.user.profile.profile_img.url}}" class="card-img-top img-fluid mt-2" alt="..." style="height: 200px; width: 200px;">
          <span class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-success">{{forloop.counter}}</span>
          <h2 class="fw-normal">{{rank.user.username}}</h2>
          <p><a class="btn btn-outline-success" href="{% url 'profile_page' rank.user.username %}">View Profile »</a></p>
      </div>
      {% endfor %}
  </div>
  
</div>
{% endblock %}


