{% extends "index.html" %}

{% block content %}
<div class="user-profile container my-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img src="{{user_profile.profile_img.url}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
          <h5 class="my-3">{{user_profile.user.username}}</h5>
          <div class="d-flex justify-content-center mb-2">
            <button type="button" class="btn btn-primary">Follow</button>
            <button type="button" class="btn btn-outline-primary ml-1">Message</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user_profile.user.first_name|default:'Full name not Available'}} {{user_profile.user.last_name}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">  
              <p class="text-muted mb-0">{{user_profile.user.email}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Bio</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{user_profile.bio|default:'Bio Not Available'}}</p>
            </div>
          </div>
        </div>
      </div>
      {% if request.user.username == user_profile.user.username %}
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <a type="button" class="btn btn-outline-success" href="{% url 'editprofile_page' request.user.username %}">Edit</a>
        <a type="button" class="btn btn-outline-danger" href="{% url 'confirm_page' %}">Delete</a>
      </div>
      {% endif %}
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-sm-12">
        <h3 class="my-3">Quiz attended by Aniket</h3>
        <table class="table table-responsive-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-xl-5 ml-5 col-md-12 performance">
        <h3 class="my-3">Aniket's Performance</h3>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
{% endblock %}