{% extends "index.html" %}

{% block content %}

<h5 class="display-4 text-center my-3">Register</h5>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <form>
        <div class="mb-3">
          <label for="Inputusername" class="form-label visually-hidden">Username</label>
          <input type="text" class="form-control" id="Inputusername" placeholder="username">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label visually-hidden">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="enter email">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label visually-hidden">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="enter password">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label visually-hidden">Confirm Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="confirm password">
        </div>
        <p>Already Register ? <a href="login.html">Login</a></p>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>

{% endblock %}