<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Think Guru</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home_page' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'allquizpage' %}">Quiz</a>
        </li>
        <li class="nav-item">
          {% if request.user.is_superuser %}
            <a class="nav-link" href="{% url 'dashboard_page' %}">Dashboard</a>
          {% else %}
            <a class="nav-link" href="{% url 'leaderboard_page' %}">Leaderboard</a>
          {% endif %}
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Other
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'about_page' %}">About</a>
            <a class="dropdown-item" href="{% url 'contact_page' %}">Contact</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="{% url 'search_users_page' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        {% if user.is_authenticated %}
        <a href="" class="btn btn-outline-primary-light">
          <img src="{{login_profile.profile_img.url}}" class="img-fluid rounded-circle" width="40" height="40">
      </a>      
        <a href="{%url 'logout_page' %}" class="btn btn-primary m-2">Logout</a>
        {% else %}
        <a href="{%url 'login_page' %}" class="btn btn-primary m-2">Login</a>
        {% endif %}
      </form>
    </div>
  </nav>
</div>
